body {
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
  max-height: 30rem;
}

.carousel-item img {
  max-height: 30rem;
  object-fit: cover;
}


.bg-pink {
  background-color: #ff9eb5;
}

.bg-pink a {
  color: #ff69b4;
}

.bg-pink p,
.bg-pink small,
.bg-pink address {
  color: #fff;
}

.card-body {
  background-color: #ff9eb5;

}

#navbarNavDropdown{
  margin-left: 20px;
}
#contenedor-nav .list-sesion{
  margin-left: 96px;
}
/*BTN INICIO SESION Y REGISTRO*/
#btn-iniciarSesion{
  margin: 10px;
}
#btn-btn-registrarse{
  margin: 10px;
}
/*CARD*/

.card{
  transition: box-shadow 0.3s ease;
}


.card:hover {
  box-shadow:  0.3rem 0.3rem 0.3rem rgba(255,158,181,0.7);
}

/*CARRITO COMPRA*/

.nav-icon{
  margin-right: 64px;
}
.icon-cart{
  width: 30px; 
  height: 35px;
  margin: auto;
  transition: transform 0.2s ease-in-out;
}

.icon-cart:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.container-icon{
  position: relative;
  margin: 5px;
}

.contador-productos{
  font-size: 12px;
}

.count-products{
  position: absolute;
  top: 55%;
  right: 0%;
  left: 60%;

  background-color: black;
  color: white;
  width: 25px;
  height: 25px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container-cart-products{
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
}

.icon-close{
  width: 25px;
  height: 25px;
}

.icon-close:hover{
  stroke: red;
  cursor: pointer;
}


.cart-product{
  display: flex;
  padding: 30px;
  justify-content: space-between;

  border-bottom: 2px solid rgba(232, 135, 158, 0.994);

}

.info-cart-product{
  display: flex;
  justify-content: space-between;
  flex: 1;
  
}

.count-cart-product{
  font-size: 20px;
  font-weight: 400px;
}

.title-cart-product{
  font-size: 20px;
}

.price-cart-product{
  font-size: 20px;
  font-weight: 700px;
  margin-left: 10px;
}

.cart-total{
  display: flex;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
  align-items: center;
}

.cart-total h3{
  font-size: 20px;
  font-weight: 700px;
}

.total-pagar{
  justify-content: center;
  align-items: center;
  padding: 0 0 0px 0;
  font-size: 20px;
  font-weight: 700;
}

.hidden-cart{
  display: none;
}


/**/
