body {
  background-repeat: no-repeat;
  background-size: cover;

}
textarea {
  resize: none;
}


.carousel {
  max-height: 30rem;
}

.carousel-item img {
  max-height: 30rem;
  object-fit: cover;
}


.bg-pink {
  background-color: #ff9eb5;
}

.bg-pink a {
  color: #ff69b4;
}

.bg-pink p,
.bg-pink small,
.bg-pink address {
  color: #fff;
}


.card{
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow:  0.3rem 0.3rem 0.3rem rgba(255,158,181,0.7);
}

/* estilos.css */

.table-container {
  border: 2px solid #e84684;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th, td {
  padding: 8px;
  border: 1px solid #e84684;
  color: #e84684;
}

th:first-child, td:first-child {
  border-left: none;
}

th:last-child, td:last-child {
  border-right: none;
}

tr:first-child th {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

::placeholder {
  color: #ff9eb5 !important;
}
