/*TITULO DE TIENDA*/

.titulo-tienda{
    margin: auto;
    text-align: center;
    font-size: 40px;
    padding: 2rem;
    color: #dc3545;
    font-weight: bold;
}

/*BOTONES*/

.btn{
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
    }

.btn:hover {
    background-color: #f25d6c;
    border-color: #f25d6c;
    color: #fff;
}

/*CARDS*/
.card-img-top {
    object-fit: cover;
    height: 400px;
    
  }

/*FOOTER*/
.bg-pink {
    background-color: #ff9eb5;
  }